<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SpreadSheetLocation" value="C:\temp\Finance2015\TestData"/>
    <add key="LogLocation" value="C:\temp\Finance2015\Log"/>
    <add key="OutputLocation" value="C:\temp\Finance2015\Output"/>
    <add key="MergeConfigFile" value="DonerMerge.xml"/>
    <add key="ReportingYear" value="2015"/>
    <add key="ReportType" value="Donors;Monthly"/>  <!--Monthly;Donors or either-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
